body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u586 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:872px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:66px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u587 {
  position:absolute;
  left:4px;
  top:0px;
  width:419px;
  height:872px;
}
#u588 {
  position:absolute;
  left:2px;
  top:428px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  position:absolute;
  left:26px;
  top:103px;
  width:375px;
  height:667px;
}
#u590 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u591 {
  position:absolute;
  left:214px;
  top:20px;
  width:15px;
  height:15px;
}
#u592 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u593 {
  position:absolute;
  left:148px;
  top:48px;
  width:14px;
  height:14px;
}
#u594 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:10px;
  background:inherit;
  background-color:rgba(38, 40, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u595 {
  position:absolute;
  left:188px;
  top:50px;
  width:68px;
  height:10px;
}
#u596 {
  position:absolute;
  left:2px;
  top:-3px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u597 {
  position:absolute;
  left:187px;
  top:780px;
  width:70px;
  height:70px;
}
#u598 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:65px;
  background:inherit;
  background-color:rgba(235, 235, 236, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u599 {
  position:absolute;
  left:0px;
  top:186px;
  width:5px;
  height:65px;
}
#u600 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:65px;
  background:inherit;
  background-color:rgba(235, 235, 236, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u601 {
  position:absolute;
  left:0px;
  top:265px;
  width:5px;
  height:65px;
}
#u602 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:35px;
  background:inherit;
  background-color:rgba(235, 235, 236, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  position:absolute;
  left:0px;
  top:111px;
  width:5px;
  height:35px;
}
#u604 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:65px;
  background:inherit;
  background-color:rgba(206, 206, 207, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u605 {
  position:absolute;
  left:422px;
  top:186px;
  width:5px;
  height:65px;
}
#u606 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(22, 24, 36, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u607 {
  position:absolute;
  left:26px;
  top:103px;
  width:375px;
  height:667px;
}
#u608 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:9px;
}
#u609 {
  position:absolute;
  left:33px;
  top:111px;
  width:37px;
  height:9px;
}
#u610 {
  position:absolute;
  left:2px;
  top:-4px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u611 {
  position:absolute;
  left:77px;
  top:107px;
  width:61px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u612 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u613 {
  position:absolute;
  left:145px;
  top:109px;
  width:20px;
  height:13px;
}
#u614 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u615 {
  position:absolute;
  left:184px;
  top:107px;
  width:67px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u616 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u617 {
  position:absolute;
  left:351px;
  top:109px;
  width:41px;
  height:13px;
}
#u618 {
  position:absolute;
  left:2px;
  top:-2px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#C9C9C9;
}
#u619 {
  position:absolute;
  left:51px;
  top:730px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#C9C9C9;
}
#u620 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#C9C9C9;
}
#u621 {
  position:absolute;
  left:128px;
  top:730px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#C9C9C9;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#C9C9C9;
}
#u623 {
  position:absolute;
  left:355px;
  top:730px;
  width:21px;
  height:24px;
  font-size:20px;
  color:#C9C9C9;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
}
#u625 {
  position:absolute;
  left:284px;
  top:730px;
  width:45px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u627_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:44px;
  height:6px;
}
#u627 {
  position:absolute;
  left:284px;
  top:767px;
  width:41px;
  height:3px;
  color:#FFFFFF;
}
#u628 {
  position:absolute;
  left:2px;
  top:-6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u629 {
  position:absolute;
  left:195px;
  top:134px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#C9C9C9;
}
#u631 {
  position:absolute;
  left:305px;
  top:139px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#C9C9C9;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u633 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u634 {
  position:absolute;
  left:198px;
  top:725px;
  width:48px;
  height:34px;
  font-size:20px;
}
#u635 {
  position:absolute;
  left:2px;
  top:5px;
  width:44px;
  word-wrap:break-word;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u636 {
  position:absolute;
  left:197px;
  top:724px;
  width:5px;
  height:35px;
}
#u637 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:36px;
}
#u638 {
  position:absolute;
  left:242px;
  top:724px;
  width:5px;
  height:35px;
}
#u639 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640 {
  position:absolute;
  left:26px;
  top:713px;
  width:77px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u641 {
  position:absolute;
  left:103px;
  top:713px;
  width:75px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u642 {
  position:absolute;
  left:257px;
  top:713px;
  width:74px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u643 {
  position:absolute;
  left:331px;
  top:713px;
  width:73px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u644 {
  position:absolute;
  left:178px;
  top:713px;
  width:79px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u645 {
  position:absolute;
  left:26px;
  top:168px;
  width:375px;
  height:545px;
  overflow:hidden;
}
#u645_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:545px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u645_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:970px;
  overflow:hidden;
  touch-action:none;
}
#u646_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:970px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u646_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:-webkit-linear-gradient(315deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 102, 255, 1) 100%, rgba(51, 102, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 102, 255, 1) 100%, rgba(51, 102, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 102, 255, 1) 100%, rgba(51, 102, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  position:absolute;
  left:40px;
  top:18px;
  width:50px;
  height:50px;
}
#u649 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u651 {
  position:absolute;
  left:49px;
  top:29px;
  width:21px;
  height:24px;
}
#u652 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u653 {
  position:absolute;
  left:63px;
  top:31px;
  width:19px;
  height:22px;
}
#u654 {
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:-webkit-linear-gradient(315deg, rgba(255, 153, 153, 1) 0%, rgba(255, 153, 153, 1) 0%, rgba(255, 0, 51, 1) 100%, rgba(255, 0, 51, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(255, 153, 153, 1) 0%, rgba(255, 153, 153, 1) 0%, rgba(255, 0, 51, 1) 100%, rgba(255, 0, 51, 1) 100%);
  background:linear-gradient(135deg, rgba(255, 153, 153, 1) 0%, rgba(255, 153, 153, 1) 0%, rgba(255, 0, 51, 1) 100%, rgba(255, 0, 51, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:122px;
  top:19px;
  width:50px;
  height:50px;
}
#u657 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u658 {
  position:absolute;
  left:131px;
  top:29px;
  width:33px;
  height:30px;
}
#u659 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:-webkit-linear-gradient(315deg, rgba(51, 255, 255, 1) 0%, rgba(51, 255, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(51, 255, 255, 1) 0%, rgba(51, 255, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(51, 255, 255, 1) 0%, rgba(51, 255, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u661 {
  position:absolute;
  left:207px;
  top:17px;
  width:50px;
  height:50px;
}
#u662 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u663 {
  position:absolute;
  left:216px;
  top:27px;
  width:33px;
  height:30px;
}
#u664 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:-webkit-linear-gradient(315deg, rgba(255, 153, 204, 1) 0%, rgba(255, 153, 204, 1) 0%, rgba(255, 0, 204, 1) 100%, rgba(255, 0, 204, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(255, 153, 204, 1) 0%, rgba(255, 153, 204, 1) 0%, rgba(255, 0, 204, 1) 100%, rgba(255, 0, 204, 1) 100%);
  background:linear-gradient(135deg, rgba(255, 153, 204, 1) 0%, rgba(255, 153, 204, 1) 0%, rgba(255, 0, 204, 1) 100%, rgba(255, 0, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  position:absolute;
  left:288px;
  top:17px;
  width:50px;
  height:50px;
}
#u666 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u668 {
  position:absolute;
  left:298px;
  top:27px;
  width:30px;
  height:30px;
}
#u669 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u670 {
  position:absolute;
  left:305px;
  top:38px;
  width:4px;
  height:4px;
}
#u671 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u672 {
  position:absolute;
  left:312px;
  top:38px;
  width:4px;
  height:4px;
}
#u673 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u674 {
  position:absolute;
  left:318px;
  top:38px;
  width:4px;
  height:4px;
}
#u675 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u677 {
  position:absolute;
  left:30px;
  top:125px;
  width:55px;
  height:55px;
}
#u678 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:41px;
}
#u679 {
  position:absolute;
  left:42px;
  top:132px;
  width:32px;
  height:41px;
}
#u680 {
  position:absolute;
  left:2px;
  top:12px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u681 {
  position:absolute;
  left:24px;
  top:112px;
  width:325px;
  height:1px;
}
#u682 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#C9C9C9;
}
#u683 {
  position:absolute;
  left:50px;
  top:78px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#C9C9C9;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#C9C9C9;
}
#u685 {
  position:absolute;
  left:139px;
  top:79px;
  width:16px;
  height:17px;
  font-size:15px;
  color:#C9C9C9;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#C9C9C9;
}
#u687 {
  position:absolute;
  left:209px;
  top:77px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#C9C9C9;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#C9C9C9;
}
#u689 {
  position:absolute;
  left:298px;
  top:77px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#C9C9C9;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u691 {
  position:absolute;
  left:24px;
  top:195px;
  width:325px;
  height:1px;
}
#u692 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u693 {
  position:absolute;
  left:97px;
  top:130px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u695 {
  position:absolute;
  left:97px;
  top:159px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u697 {
  position:absolute;
  left:285px;
  top:136px;
  width:57px;
  height:16px;
  color:#C9C9C9;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u699 {
  position:absolute;
  left:24px;
  top:217px;
  width:57px;
  height:16px;
  color:#C9C9C9;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u701 {
  position:absolute;
  left:87px;
  top:217px;
  width:15px;
  height:15px;
}
#u702 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:4px;
}
#u703 {
  position:absolute;
  left:95px;
  top:221px;
  width:2px;
  height:1px;
}
#u704 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:7px;
}
#u705 {
  position:absolute;
  left:95px;
  top:225px;
  width:2px;
  height:4px;
}
#u706 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u707 {
  position:absolute;
  left:31px;
  top:256px;
  width:55px;
  height:55px;
}
#u708 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u709 {
  position:absolute;
  left:96px;
  top:256px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#C9C9C9;
}
#u711 {
  position:absolute;
  left:96px;
  top:280px;
  width:33px;
  height:14px;
  font-size:9px;
  color:#C9C9C9;
}
#u712 {
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u713 {
  position:absolute;
  left:96px;
  top:298px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u715 {
  position:absolute;
  left:278px;
  top:275px;
  width:51px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u716 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#C9C9C9;
}
#u717 {
  position:absolute;
  left:339px;
  top:268px;
  width:26px;
  height:16px;
  font-size:26px;
  color:#C9C9C9;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u719 {
  position:absolute;
  left:31px;
  top:346px;
  width:55px;
  height:55px;
}
#u720 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u721 {
  position:absolute;
  left:96px;
  top:346px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#C9C9C9;
}
#u723 {
  position:absolute;
  left:96px;
  top:370px;
  width:33px;
  height:14px;
  font-size:9px;
  color:#C9C9C9;
}
#u724 {
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u725 {
  position:absolute;
  left:96px;
  top:388px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u727 {
  position:absolute;
  left:278px;
  top:365px;
  width:51px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#C9C9C9;
}
#u729 {
  position:absolute;
  left:339px;
  top:358px;
  width:26px;
  height:16px;
  font-size:26px;
  color:#C9C9C9;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u731 {
  position:absolute;
  left:31px;
  top:434px;
  width:55px;
  height:55px;
}
#u732 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:96px;
  top:434px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#C9C9C9;
}
#u735 {
  position:absolute;
  left:96px;
  top:458px;
  width:33px;
  height:14px;
  font-size:9px;
  color:#C9C9C9;
}
#u736 {
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  word-wrap:break-word;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u737 {
  position:absolute;
  left:96px;
  top:476px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:278px;
  top:453px;
  width:51px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u740 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#C9C9C9;
}
#u741 {
  position:absolute;
  left:339px;
  top:446px;
  width:26px;
  height:16px;
  font-size:26px;
  color:#C9C9C9;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u743 {
  position:absolute;
  left:31px;
  top:525px;
  width:55px;
  height:55px;
}
#u744 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u745 {
  position:absolute;
  left:96px;
  top:525px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#C9C9C9;
}
#u747 {
  position:absolute;
  left:96px;
  top:549px;
  width:33px;
  height:14px;
  font-size:9px;
  color:#C9C9C9;
}
#u748 {
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u749 {
  position:absolute;
  left:96px;
  top:567px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u751 {
  position:absolute;
  left:278px;
  top:544px;
  width:51px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u752 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#C9C9C9;
}
#u753 {
  position:absolute;
  left:339px;
  top:537px;
  width:26px;
  height:16px;
  font-size:26px;
  color:#C9C9C9;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u755 {
  position:absolute;
  left:31px;
  top:612px;
  width:55px;
  height:55px;
}
#u756 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u757 {
  position:absolute;
  left:96px;
  top:612px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#C9C9C9;
}
#u759 {
  position:absolute;
  left:96px;
  top:636px;
  width:33px;
  height:14px;
  font-size:9px;
  color:#C9C9C9;
}
#u760 {
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u761 {
  position:absolute;
  left:96px;
  top:654px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u763 {
  position:absolute;
  left:278px;
  top:631px;
  width:51px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u764 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#C9C9C9;
}
#u765 {
  position:absolute;
  left:339px;
  top:624px;
  width:26px;
  height:16px;
  font-size:26px;
  color:#C9C9C9;
}
#u766 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u767 {
  position:absolute;
  left:31px;
  top:703px;
  width:55px;
  height:55px;
}
#u768 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u769 {
  position:absolute;
  left:96px;
  top:703px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#C9C9C9;
}
#u771 {
  position:absolute;
  left:96px;
  top:727px;
  width:33px;
  height:14px;
  font-size:9px;
  color:#C9C9C9;
}
#u772 {
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  word-wrap:break-word;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u773 {
  position:absolute;
  left:96px;
  top:745px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u775 {
  position:absolute;
  left:278px;
  top:722px;
  width:51px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u776 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#C9C9C9;
}
#u777 {
  position:absolute;
  left:339px;
  top:715px;
  width:26px;
  height:16px;
  font-size:26px;
  color:#C9C9C9;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u779 {
  position:absolute;
  left:31px;
  top:797px;
  width:55px;
  height:55px;
}
#u780 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u781 {
  position:absolute;
  left:96px;
  top:797px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u782 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#C9C9C9;
}
#u783 {
  position:absolute;
  left:96px;
  top:821px;
  width:33px;
  height:14px;
  font-size:9px;
  color:#C9C9C9;
}
#u784 {
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u785 {
  position:absolute;
  left:96px;
  top:839px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u786 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u787 {
  position:absolute;
  left:278px;
  top:816px;
  width:51px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u788 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#C9C9C9;
}
#u789 {
  position:absolute;
  left:339px;
  top:809px;
  width:26px;
  height:16px;
  font-size:26px;
  color:#C9C9C9;
}
#u790 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u791 {
  position:absolute;
  left:31px;
  top:891px;
  width:55px;
  height:55px;
}
#u792 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u793 {
  position:absolute;
  left:96px;
  top:891px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u794 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(36, 39, 48, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#C9C9C9;
}
#u795 {
  position:absolute;
  left:96px;
  top:915px;
  width:33px;
  height:14px;
  font-size:9px;
  color:#C9C9C9;
}
#u796 {
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  word-wrap:break-word;
}
#u797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u797 {
  position:absolute;
  left:96px;
  top:933px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u798 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u799 {
  position:absolute;
  left:278px;
  top:910px;
  width:51px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u800 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#C9C9C9;
}
#u801 {
  position:absolute;
  left:339px;
  top:903px;
  width:26px;
  height:16px;
  font-size:26px;
  color:#C9C9C9;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u803 {
  position:absolute;
  left:144px;
  top:531px;
  width:107px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
